name: Go

on:
  push:
    branches: [ "master" ]
jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.18
    - name: Vendor
      run: go mod download
    - name: Build
      run: go build -o ./build/bandamper -v ./src/bandamper.go
    - uses: actions/download-artifact@v2
      with:
        name: build
        path: build
    - name: Create SSH key
      run: |
        install -m 600 -D /dev/null ~/.ssh/id_rsa
        echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
        echo "${{ secrets.DEPLOY_HOST }}" > ~/.ssh/known_hosts
    - name: Deploy with rsync
      run: rsync -rav --delete build/ ${{ secrets.DEPLOY_USER }}@${{ secrets.DEPLOY_HOST }}:${{ secrets.DEPLOY_PATH }}/

